{% extends 'tasks/base.html' %}

{% block content %}
<div class="home-container">
    {% if user.is_authenticated %}
        <h2>Привет, {{ user.username }} 👋</h2>
        <p>Добро пожаловать в твой Task Manager 🚀</p>

        <div class="actions">
            <a href="{% url 'add_task' %}" class="btn addtask-btn">➕ Добавить задачу</a>
            <a href="{% url 'logout' %}" class="btn logout-btn">🚪 Выйти</a>
        </div>

        {% if tasks %}
        <div class="tasks-container">
            {% for task in tasks %}
                <div class="task-card">
                    <div class="task-header">
                        <h3 class="task-title">{{ task.title }}</h3>
                        <span class="task-deadline">📅 {{ task.deadline|date:"d.m.Y H:i" }}</span>
                    </div>
                    <p class="task-desc">{{ task.description }}</p>
                    <div class="task-actions">
                        <a href="{% url 'task_update' task.pk %}" class="task-btn edit-btn">✏️ Редактировать</a>
                        <a href="{% url 'task_delete' task.pk %}" class="task-btn delete-btn">🗑 Удалить</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="empty-tasks">
                <h3 style="color: black;">🕐 Пока нет задач</h3>
                <p style="color: black;">Добавь первую и начни продуктивный день!</p>
            </div>
        {% endif %}

    {% else %}
        <h2>Добро пожаловать в Task Manager</h2>
        <p>Пожалуйста, <a href="{% url 'login' %}">войдите</a>, чтобы увидеть свои задачи.</p>
    {% endif %}
</div>
{% endblock %}
