{% extends 'tasks/base.html' %}

{% block title %}Вход — Task Manager{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Войти</h2>
    <form method="post">
        {% csrf_token %}
        
        <div class="form_class">
            <p>
                {{ form.username.label_tag }}
                {{ form.username }}
            </p>
            <p>
                {{ form.password.label_tag }}
                {{ form.password }}
            </p>
        </div>

        <button type="submit">Войти</button>
    </form>
</div>
{% endblock %}
